<div class="card-panel white grey-text text-darken-3 waves-effect">
  <div class="row valign-wrapper">
    <div class="profile-image col s3 l2 center valign">
      <a class="author">
        <img src="images/profile.sample.jpg" class="responsive-img">
        <h6>{{post.author}}</h6>
      </a>
    </div>
    <div class="content col s9 l10 valign">
      <div class="info col s6 no-padding left-align">
        <span class="category">{{post.category}}</span>
      </div>
      <div class="info col s6 no-padding right-align">
        <span am-time-ago="post.createdOn"></span>
      </div>
      <div class="title col s12 no-padding">
        {{post.title}}
      </div>
      <div class="text col s12 no-padding ">
        {{post.text}}
      </div>
    </div>
  </div>

</div>
