/* _functions.scss */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* colors.scss */
.primary-red {
  background-color: #F12A27 !important; }

.primary-red-text {
  color: #F12A27 !important; }

.primary-black {
  background-color: #212121 !important; }

.primary-black-text {
  color: #212121 !important; }

.primary-white-background {
  color: #e2e4e5 !important; }

.primary-white {
  background-color: #F1F1F1 !important; }

.primary-white-text {
  color: #F1F1F1 !important; }

.secondary-purple {
  background-color: #6f4f96 !important; }

.secondary-blue {
  background-color: #7f93bf !important; }

.secondary-yellow {
  background-color: #ffc823 !important; }

.grey-dark {
  background-color: #363636 !important; }

.grey-grey {
  background-color: #7b7373 !important; }

.grey-light {
  background-color: #878293 !important; }

/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both; }

/*
* Respond To
* Copied from UtilityBelt- https://github.com/dmtintner/UtilityBelt
*
* Example:
* @include respondTo(smartphone){ display: none; }
*
*/
/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@-ms-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

.ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  height: 24px;
  width: 24px; }

ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  height: 24px;
  width: 24px; }

.nav-wrapper .ng-md-icon {
  margin-left: 10px; }

.button-collapse {
  padding-right: 20px; }

#mobile-demo .spacer {
  height: 40px;
  width: 100%; }

#mobile-demo li:hover {
  background-color: inherit !important;
  color: #ffc823; }
  #mobile-demo li:hover a {
    color: #ffc823;
    -webkit-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
    -moz-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
    transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }

#mobile-demo li.active {
  background-color: inherit !important;
  color: #ffc823; }
  #mobile-demo li.active a {
    color: #ffc823; }

.side-nav .logo {
  position: relative;
  padding: 40px;
  z-index: 100; }
  .side-nav .logo:hover {
    background-color: inherit !important; }
  .side-nav .logo a {
    height: auto;
    padding: 0;
    margin: 0; }

.side-nav li a {
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  text-transform: uppercase; }

.side-nav .menu-holder {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  .side-nav .menu-holder:hover {
    background-color: inherit !important; }
  .side-nav .menu-holder li:hover {
    background-color: inherit !important;
    color: #ffc823; }
    .side-nav .menu-holder li:hover a {
      color: #ffc823;
      -webkit-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
      -moz-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
      transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }
  .side-nav .menu-holder li.active {
    background-color: inherit !important;
    color: #ffc823; }
    .side-nav .menu-holder li.active a {
      color: #ffc823; }
  .side-nav .menu-holder ul {
    width: 100%; }

main[ui-view] {
  padding-left: 240px; }

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    left: 0;
    width: 180px; }
  main[ui-view] {
    padding-left: 180px; } }

@media only screen and (max-width: 601px) {
  .side-nav.fixed {
    left: -105%;
    width: 240px; }
  main[ui-view] {
    padding-left: 0px; } }

@media only screen and (max-height: 660px) {
  .side-nav .valign {
    position: absolute;
    bottom: 100px; } }

@media (max-height: 510px) {
  .side-nav .logo {
    display: none; } }

/* Awesome Praxus Animated Logo */
#svg-logo *, svg.praxus-logo * {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 7000ms;
  -moz-transition-delay: 7000ms;
  transition-delay: 7000ms; }

#svg-logo .background, svg.praxus-logo .background {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  transition-delay: 500ms; }

#svg-logo .planet, svg.praxus-logo .planet {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition-delay: 1200ms;
  transition-delay: 1200ms; }

#svg-logo .planet-spot, svg.praxus-logo .planet-spot {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 1800ms;
  -moz-transition-delay: 1800ms;
  transition-delay: 1800ms; }

#svg-logo .clouds-backing, svg.praxus-logo .clouds-backing {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 2400ms;
  -moz-transition-delay: 2400ms;
  transition-delay: 2400ms; }

#svg-logo .clouds, svg.praxus-logo .clouds {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 3500ms;
  -moz-transition-delay: 3500ms;
  transition-delay: 3500ms; }

#svg-logo .jet, svg.praxus-logo .jet {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 5000ms;
  -moz-transition-delay: 5000ms;
  transition-delay: 5000ms; }

#svg-logo .jet-outline, svg.praxus-logo .jet-outline {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 5500ms;
  -moz-transition-delay: 5500ms;
  transition-delay: 5500ms; }

#svg-logo.finished *, svg.praxus-logo.finished * {
  fill-opacity: 1; }

#svg-logo.remove-animation path, svg.praxus-logo.remove-animation path {
  -webkit-transition: fill-opacity 0.5s;
  -moz-transition: fill-opacity 0.5s;
  transition: fill-opacity 0.5s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0; }

#svg-logo * {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 5500ms;
  -moz-transition-delay: 5500ms;
  transition-delay: 5500ms; }

main-article .card {
  border-radius: 0; }

main-article .card-image {
  overflow: hidden;
  height: 30em;
  background-size: cover;
  background-position: center center;
  -webkit-transition: height 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -moz-transition: height 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  transition: height 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }

main-article .card-content {
  background-color: #F12A27;
  color: #f1f1f1;
  height: 10em;
  -webkit-transition: height 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -moz-transition: height 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  transition: height 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }
  main-article .card-content p {
    padding-bottom: 1.1em; }

.news-title-backdrop {
  position: absolute;
  bottom: -3em;
  left: -10%;
  width: 120%;
  height: 6em;
  background-color: #F12A27;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6); }

.news-bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  background-color: #F12A27; }

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.color-pane {
  height: 200px; }
  .color-pane span {
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 130%; }

.material-bounce {
  -webkit-transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -moz-transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }

@media only screen and (min-width: 993px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }
