/* _functions.scss */
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/*
## Triangle
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/*
* Currency
*/
/*
* Clearfix
*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both; }

/*
* Ghost Vertical Align
*/
/*
* Truncate Text
*/
/*
* Animation
*/
/*
* Alerted
*/
@-webkit-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@-moz-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@-ms-keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

@keyframes alertMe {
  from {
    border-width: 3px;
    border-color: gold; }
  to {
    border-width: 0;
    border-color: rgba(255, 215, 0, 0.1); } }

/* colors.scss */
.primary-red {
  background-color: #F12A27 !important; }

.primary-red-text {
  color: #F12A27 !important; }

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(241, 42, 39, 0.65); }

.primary-black {
  background-color: #212121 !important; }

.primary-black-text {
  color: #212121 !important; }

.primary-white-background {
  color: #e2e4e5 !important; }

.waves-effect.waves-white .waves-ripple {
  background-color: rgba(226, 228, 229, 0.75); }

.primary-white {
  background-color: #F1F1F1 !important; }

.primary-white-text {
  color: #F1F1F1 !important; }

.secondary-purple {
  background-color: #6f4f96 !important; }

.secondary-blue {
  background-color: #7f93bf !important; }

.secondary-yellow {
  background-color: #ffc823 !important; }

.grey-dark {
  background-color: #363636 !important; }

.grey-grey {
  background-color: #7b7373 !important; }

.grey-light {
  background-color: #878293 !important; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a[href^="http"]:empty::before {
  content: attr(href); }

h6 {
  font-size: 1.2rem; }

/*** Global ***/
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 993px) {
  .container {
    width: 70%; } }

.container .row {
  margin-left: -1.3rem;
  margin-right: -1.3rem; }

.section {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .section.no-pad {
    padding: 0; }
  .section.no-pad-bot {
    padding-bottom: 0; }
  .section.no-pad-top {
    padding-top: 0; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 1.3rem; }
    .row .col.s1 {
      width: 8.33333%;
      margin-left: 0; }
    .row .col.s2 {
      width: 16.66667%;
      margin-left: 0; }
    .row .col.s3 {
      width: 25%;
      margin-left: 0; }
    .row .col.s4 {
      width: 33.33333%;
      margin-left: 0; }
    .row .col.s5 {
      width: 41.66667%;
      margin-left: 0; }
    .row .col.s6 {
      width: 50%;
      margin-left: 0; }
    .row .col.s7 {
      width: 58.33333%;
      margin-left: 0; }
    .row .col.s8 {
      width: 66.66667%;
      margin-left: 0; }
    .row .col.s9 {
      width: 75%;
      margin-left: 0; }
    .row .col.s10 {
      width: 83.33333%;
      margin-left: 0; }
    .row .col.s11 {
      width: 91.66667%;
      margin-left: 0; }
    .row .col.s12 {
      width: 100%;
      margin-left: 0; }
    .row .col.offset-s1 {
      margin-left: 8.33333%; }
    .row .col.offset-s2 {
      margin-left: 16.66667%; }
    .row .col.offset-s3 {
      margin-left: 25%; }
    .row .col.offset-s4 {
      margin-left: 33.33333%; }
    .row .col.offset-s5 {
      margin-left: 41.66667%; }
    .row .col.offset-s6 {
      margin-left: 50%; }
    .row .col.offset-s7 {
      margin-left: 58.33333%; }
    .row .col.offset-s8 {
      margin-left: 66.66667%; }
    .row .col.offset-s9 {
      margin-left: 75%; }
    .row .col.offset-s10 {
      margin-left: 83.33333%; }
    .row .col.offset-s11 {
      margin-left: 91.66667%; }
    .row .col.offset-s12 {
      margin-left: 100%; }
    @media only screen and (min-width: 601px) {
      .row .col.m1 {
        width: 8.33333%;
        margin-left: 0; }
      .row .col.m2 {
        width: 16.66667%;
        margin-left: 0; }
      .row .col.m3 {
        width: 25%;
        margin-left: 0; }
      .row .col.m4 {
        width: 33.33333%;
        margin-left: 0; }
      .row .col.m5 {
        width: 41.66667%;
        margin-left: 0; }
      .row .col.m6 {
        width: 50%;
        margin-left: 0; }
      .row .col.m7 {
        width: 58.33333%;
        margin-left: 0; }
      .row .col.m8 {
        width: 66.66667%;
        margin-left: 0; }
      .row .col.m9 {
        width: 75%;
        margin-left: 0; }
      .row .col.m10 {
        width: 83.33333%;
        margin-left: 0; }
      .row .col.m11 {
        width: 91.66667%;
        margin-left: 0; }
      .row .col.m12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-m1 {
        margin-left: 8.33333%; }
      .row .col.offset-m2 {
        margin-left: 16.66667%; }
      .row .col.offset-m3 {
        margin-left: 25%; }
      .row .col.offset-m4 {
        margin-left: 33.33333%; }
      .row .col.offset-m5 {
        margin-left: 41.66667%; }
      .row .col.offset-m6 {
        margin-left: 50%; }
      .row .col.offset-m7 {
        margin-left: 58.33333%; }
      .row .col.offset-m8 {
        margin-left: 66.66667%; }
      .row .col.offset-m9 {
        margin-left: 75%; }
      .row .col.offset-m10 {
        margin-left: 83.33333%; }
      .row .col.offset-m11 {
        margin-left: 91.66667%; }
      .row .col.offset-m12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 993px) {
      .row .col.l1 {
        width: 8.33333%;
        margin-left: 0; }
      .row .col.l2 {
        width: 16.66667%;
        margin-left: 0; }
      .row .col.l3 {
        width: 25%;
        margin-left: 0; }
      .row .col.l4 {
        width: 33.33333%;
        margin-left: 0; }
      .row .col.l5 {
        width: 41.66667%;
        margin-left: 0; }
      .row .col.l6 {
        width: 50%;
        margin-left: 0; }
      .row .col.l7 {
        width: 58.33333%;
        margin-left: 0; }
      .row .col.l8 {
        width: 66.66667%;
        margin-left: 0; }
      .row .col.l9 {
        width: 75%;
        margin-left: 0; }
      .row .col.l10 {
        width: 83.33333%;
        margin-left: 0; }
      .row .col.l11 {
        width: 91.66667%;
        margin-left: 0; }
      .row .col.l12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-l1 {
        margin-left: 8.33333%; }
      .row .col.offset-l2 {
        margin-left: 16.66667%; }
      .row .col.offset-l3 {
        margin-left: 25%; }
      .row .col.offset-l4 {
        margin-left: 33.33333%; }
      .row .col.offset-l5 {
        margin-left: 41.66667%; }
      .row .col.offset-l6 {
        margin-left: 50%; }
      .row .col.offset-l7 {
        margin-left: 58.33333%; }
      .row .col.offset-l8 {
        margin-left: 66.66667%; }
      .row .col.offset-l9 {
        margin-left: 75%; }
      .row .col.offset-l10 {
        margin-left: 83.33333%; }
      .row .col.offset-l11 {
        margin-left: 91.66667%; }
      .row .col.offset-l12 {
        margin-left: 100%; } }
    @media only screen and (min-width: 1201px) {
      .row .col.xl1 {
        width: 8.33333%;
        margin-left: 0; }
      .row .col.xl2 {
        width: 16.66667%;
        margin-left: 0; }
      .row .col.xl3 {
        width: 25%;
        margin-left: 0; }
      .row .col.xl4 {
        width: 33.33333%;
        margin-left: 0; }
      .row .col.xl5 {
        width: 41.66667%;
        margin-left: 0; }
      .row .col.xl6 {
        width: 50%;
        margin-left: 0; }
      .row .col.xl7 {
        width: 58.33333%;
        margin-left: 0; }
      .row .col.xl8 {
        width: 66.66667%;
        margin-left: 0; }
      .row .col.xl9 {
        width: 75%;
        margin-left: 0; }
      .row .col.xl10 {
        width: 83.33333%;
        margin-left: 0; }
      .row .col.xl11 {
        width: 91.66667%;
        margin-left: 0; }
      .row .col.xl12 {
        width: 100%;
        margin-left: 0; }
      .row .col.offset-xl1 {
        margin-left: 8.33333%; }
      .row .col.offset-xl2 {
        margin-left: 16.66667%; }
      .row .col.offset-xl3 {
        margin-left: 25%; }
      .row .col.offset-xl4 {
        margin-left: 33.33333%; }
      .row .col.offset-xl5 {
        margin-left: 41.66667%; }
      .row .col.offset-xl6 {
        margin-left: 50%; }
      .row .col.offset-xl7 {
        margin-left: 58.33333%; }
      .row .col.offset-xl8 {
        margin-left: 66.66667%; }
      .row .col.offset-xl9 {
        margin-left: 75%; }
      .row .col.offset-xl10 {
        margin-left: 83.33333%; }
      .row .col.offset-xl11 {
        margin-left: 91.66667%; }
      .row .col.offset-xl12 {
        margin-left: 100%; } }

ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  height: 100%;
  width: 100%; }
  ng-md-icon svg {
    vertical-align: middle;
    text-align: center; }

.nav-wrapper .ng-md-icon {
  margin-left: 10px; }

/* Awesome Praxus Animated Logo */
#svg-logo *, svg.praxus-logo * {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 7000ms;
  -moz-transition-delay: 7000ms;
  transition-delay: 7000ms; }

#svg-logo .background, svg.praxus-logo .background {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  transition-delay: 500ms; }

#svg-logo .planet, svg.praxus-logo .planet {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 1200ms;
  -moz-transition-delay: 1200ms;
  transition-delay: 1200ms; }

#svg-logo .planet-spot, svg.praxus-logo .planet-spot {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 1800ms;
  -moz-transition-delay: 1800ms;
  transition-delay: 1800ms; }

#svg-logo .clouds-backing, svg.praxus-logo .clouds-backing {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 2400ms;
  -moz-transition-delay: 2400ms;
  transition-delay: 2400ms; }

#svg-logo .clouds, svg.praxus-logo .clouds {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 3500ms;
  -moz-transition-delay: 3500ms;
  transition-delay: 3500ms; }

#svg-logo .jet, svg.praxus-logo .jet {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 5000ms;
  -moz-transition-delay: 5000ms;
  transition-delay: 5000ms; }

#svg-logo .jet-outline, svg.praxus-logo .jet-outline {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 5500ms;
  -moz-transition-delay: 5500ms;
  transition-delay: 5500ms; }

#svg-logo.finished *, svg.praxus-logo.finished * {
  fill-opacity: 1; }

#svg-logo.remove-animation path, svg.praxus-logo.remove-animation path {
  -webkit-transition: fill-opacity 0.5s;
  -moz-transition: fill-opacity 0.5s;
  transition: fill-opacity 0.5s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0; }

#svg-logo * {
  fill-opacity: 0;
  -webkit-transition: fill-opacity 1s ease-out;
  -moz-transition: fill-opacity 1s ease-out;
  transition: fill-opacity 1s ease-out;
  -webkit-transition-delay: 5500ms;
  -moz-transition-delay: 5500ms;
  transition-delay: 5500ms; }

.button-collapse {
  padding-right: 20px; }

#mobile-demo .spacer {
  height: 40px;
  width: 100%; }

#mobile-demo li:hover {
  background-color: inherit !important;
  color: #ffc823; }
  #mobile-demo li:hover a {
    color: #ffc823;
    -webkit-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
    -moz-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
    transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }

#mobile-demo li.active {
  background-color: inherit !important;
  color: #ffc823; }
  #mobile-demo li.active a {
    color: #ffc823; }

.side-nav .logo {
  position: relative;
  padding: 40px;
  z-index: 100; }
  .side-nav .logo:hover {
    background-color: inherit !important; }
  .side-nav .logo a {
    height: auto;
    padding: 0;
    margin: 0; }

.side-nav li a {
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  text-transform: uppercase; }

.side-nav .menu-holder {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%; }
  .side-nav .menu-holder:hover {
    background-color: inherit !important; }
  .side-nav .menu-holder li:hover {
    background-color: inherit !important;
    color: #ffc823; }
    .side-nav .menu-holder li:hover a {
      color: #ffc823;
      -webkit-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
      -moz-transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
      transition: color 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }
  .side-nav .menu-holder li.active {
    background-color: inherit !important;
    color: #ffc823; }
    .side-nav .menu-holder li.active a {
      color: #ffc823; }
  .side-nav .menu-holder ul {
    width: 100%; }

main[ui-view] {
  padding-left: 240px; }

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    left: 0;
    width: 160px; }
  .side-nav .logo {
    padding: 40px 15px; }
  main[ui-view] {
    padding-left: 160px; } }

@media only screen and (max-width: 601px) {
  .side-nav.fixed {
    left: -105%;
    width: 240px; }
  main[ui-view] {
    padding-left: 0px; } }

@media only screen and (max-height: 660px) {
  .side-nav .valign {
    position: absolute;
    bottom: 100px; } }

@media (max-height: 510px) {
  .side-nav .logo {
    display: none; } }

.card-panel, .card {
  border-radius: 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

.card-box {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff; }

search-bar .card-panel {
  position: relative;
  padding: 0; }

search-bar .row {
  margin-bottom: 0px;
  margin-top: 0.7em; }

search-bar .search {
  width: 4rem;
  position: relative;
  height: auto;
  padding: 15px;
  cursor: pointer; }

search-bar .divider {
  border-right: 1px solid #e2e4e5;
  height: 2.6em;
  width: 1px; }

search-bar #top-search {
  position: relative;
  overflow-x: hidden; }
  search-bar #top-search ng-md-icon {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0;
    width: 3rem;
    text-align: right;
    cursor: pointer; }
  search-bar #top-search input {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    width: 92%;
    width: calc(100% - 4rem);
    max-width: 800px;
    height: 2rem;
    transition: none; }

search-bar .top-nav {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap; }
  search-bar .top-nav ul {
    margin: 0;
    padding: 0; }
    search-bar .top-nav ul li {
      display: inline-block;
      padding: 22px 30px;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      -webkit-transition: all 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
      -moz-transition: all 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
      transition: all 100ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
      cursor: pointer; }
      search-bar .top-nav ul li:hover {
        color: #7f93bf; }

@media only screen and (min-width: 1201px) {
  search-bar #top-search ng-md-icon {
    left: 810px;
    right: auto; } }

main-article .card {
  box-shadow: none; }

main-article .card-image {
  overflow: hidden;
  height: 30em;
  background-size: cover;
  background-position: center center; }

main-article .card-content {
  background-color: #F12A27;
  color: #f1f1f1;
  height: 10em;
  cursor: pointer; }
  main-article .card-content p {
    padding-bottom: 1.1em; }

main-article .news-title {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 2em;
  text-align: right;
  color: #fff;
  width: 100%; }
  main-article .news-title a {
    margin-top: -1em;
    position: absolute;
    left: 2rem; }
  main-article .news-title h6 {
    margin-bottom: 0;
    padding-bottom: 0; }
  main-article .news-title h4 {
    margin-top: 0.3em;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

main-article .news-title-backdrop {
  position: absolute;
  bottom: -6em;
  left: -10%;
  width: 120%;
  height: 10em;
  background-color: #F12A27;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6); }

main-article .news-bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  background-color: #F12A27; }

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.card {
  border-radius: 0; }

.material-bounce {
  -webkit-transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  -moz-transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995);
  transition: all 600ms cubic-bezier(0.62, -0.005, 0.26, 0.995); }

@media only screen and (min-width: 993px) {
  .container {
    width: 85%; } }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; } }
