.card, .card-panel{
  border-radius: 0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.card-box {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  background-color: #fff;

  @media only screen and (max-width: 400px) {
    min-width: 345px;
  }

  .section-title {
    position: relative;
    overflow: hidden;

    h5 {
      padding:0;
      margin: 0;
      margin-bottom: 0;
    }
  }

  .card, .card-panel{
    box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
    margin-bottom: 1px;
    margin-top: 0;
  }

  &.hide-overflow {
    overflow:hidden;
  }
}

[ng-click] {
  cursor: pointer;
}
