ng-md-icon {
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
  height: 100%;
  width: 100%;

  svg {
    vertical-align: middle;
    text-align: center;
  }
}

.nav-wrapper .ng-md-icon{
  margin-left:10px;
}
