@import "functions";
@import "colors";
@import "typography";
@import "grid";
@import "icons";
@import "logo";
@import "cards";
@import "nav";
@import "search";
@import "news";
@import "article";
@import "forum";
@import "admin";

* {
    animation-duration: .2s;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.material-bounce {
  @include materialBounce();
}

@media only screen and (min-width: 993px){
  .container {
      width: 85%;
  }
}

@media only screen and (min-width: 601px){
  .container {
      width: 85%;
  }
}
