<search-bar ng-model="vm.search" ></search-bar>
<div class="row ep">
  <div class="col s12 m12 l12 xl7">
    <div class="card-box">

      <div
        ng-repeat="story in vm.stories | orderBy: '-createdOn' | filter: vm.search"
        ng-click="vm.goToArticle(story.id)">
        <large-article
          ng-if="$index === 0"
          story="story">
        </large-article>
        <small-article
          ng-if="$index > 0"
          story="story">
        </small-article>
      </div>

    </div>
  </div>
  <div class="col s12 m12 l12 xl5">
    <div class="card-box hide-overflow">
      <div class="card-panel grey-light white-text section-title">
        <h5>Recent Forum Posts</h5>
      </div>
      <forum-post ng-repeat="post in vm.posts | orderBy: '-postDate' | limitTo: 6" post="post"></forum-post>
    </div>
  </div>
</div>
