<header>
  <div class="navbar-fixed hide-on-med-and-up">
    <nav>
      <div class="nav-wrapper" style="background-color: #272727;">
        <a class="brand-logo light">Praxus</a>
        <a data-activates="mobile-demo" data-sidenav="left" data-closeonclick="true" class="button-collapse">
          <ng-md-icon class="ng-md-icon" icon="menu" style="fill: #fff;" size="28"></ng-md-icon>
        </a>
        <ul class="side-nav primary-black" id="mobile-demo">
          <div class="spacer"></div>
          <li ng-repeat="item in vm.menu | orderBy: 'id'"
              ng-class="{'bold': !item.subMenu, 'no-padding': item.subMenu, 'active': 1 === item.id} ">
            <a ng-if="item.name" ng-href="{{ item.url || item.name }}">{{ item.text }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <ul id="slide-out" class="side-nav fixed primary-black">
    <li class="logo">
      <praxus-logo></praxus-logo>
    </li>
    <li class="menu-holder valign-wrapper">
      <ul class="valign">
        <li ng-repeat="item in vm.menu | orderBy: 'id'"
            ng-class="{'bold': !item.subMenu, 'no-padding': item.subMenu, 'active': 1 === item.id} ">
          <a ng-if="item.name" ng-href="{{ item.url || item.name }}">{{ item.text }}</a>
        </li>
      </ul>
    </li>
  </ul>
</header>
