<article class="card" ng-click="goToArticle(story.id)" >
  <header class="card-image"style="background-image: url({{story.imageUrl}})">

    <div class="news-title-backdrop"></div>

    <div class="news-title">
      <a class="btn-floating btn-large waves-effect waves-light secondary-purple left">
        <ng-md-icon icon="visibility" style="fill: #fff" size="28"></ng-md-icon>
      </a>
      <h6 class="light">{{story.category}}</h6>
      <h4>{{story.title}}</h4>
    </div>
  </header>
  <div class="card-content">
    <div class="news-bottom-overlay"></div>
    <span ng-bind-html="story.content"></span>
  </div>
</article>
