  <div class="card-panel white grey-text text-darken-3">
    <div class="story-image" ng-if="story.image" ng-style="{'background-image': 'url(' + story.image + ')'}"></div>
    <div class="content">
      <div class="info">
        <span class="category">{{story.category}}</span> - <span am-time-ago="story.createdOn"></span>
      </div>
      <div class="title">
        <h5>{{story.title}}</h5>
        <span class="author">by <a class="author">{{story.author}}</a></span>
      </div>
      <div class="text">
        {{story.text}}
      </div>
    </div>
    <div class="viewed">
      <ng-md-icon icon="new_releases" style="fill: #ffc823" size="28"></ng-md-icon>
    </div>
  </div>
