<article class="card">
  <header class="card-image"style="background-image: url({{story.imageUrl}})">

    <div class="news-title-backdrop"></div>

    <div class="news-title">
      <h6 class="light">{{story.category}}</h6>
      <h4>{{story.title}}</h4>
      <a class="btn-floating btn-large waves-effect waves-light secondary-purple right">
        <ng-md-icon icon="{{icon || 'new_releases'}}" style="fill: #fff" size="28"></ng-md-icon>
      </a>
    </div>
  </header>
  <div class="card-content">
    <div class="news-bottom-overlay"></div>
    <span ng-bind-html="story.content | trustAsHtml"></span>
  </div>
</article>
