<div class="row">
  <div class="col s12">
    <div class="card-panel white grey-text text-darken-3 valign-wrapper">
      <ng-md-icon
        id="searchIcon"
        ng-class="'search valign'"
        icon="{{ searchIcon }}"
        options="{{searchAnimationOptions}}"
        ng-click="toggleIcons()"
        style="fill: #666"
        size="28">
      </ng-md-icon>
      <div class="divider valign"></div>
      <div id="top-search" class="valign" style="width: 0">
        <input
          type="text"
          class="valign"
          ng-model="search"
          ng-model-options="{ debounce: 150 }">
      </div>
      <div class="profile-area valign right-align">
        <a ng-if="user" class="dropdown-button" dropdown data-activates="dropdown1">
          <img ng-src="{{user.avatar || defaultAvatar}}" class="profile-image">
        </a>

        <span ng-if="!user && !pastLogin" id="loginHide">Login</span>

        <i
          ng-if="!user"
          ng-click="openLoginModal()"
          tooltipped
          data-position="left"
          data-delay="150"
          data-tooltip="Login"
          class="medium material-icons"
          style="color:#444">
          person
        </i>

        <ul id="dropdown1" class="dropdown-content">
          <div ng-if="user">
            <li><a ng-href="http://praxusgroup.com/user/{{user.memberId}}-{{user.membersDisplayName}}">Profile</a></li>
            <li><a href="http://praxusgroup.com/index.php?app=core&module=usercp">Settings</a></li>
            <li ng-if="user.group.gIsSupmod === 1 || user.group.gAccessCp === 1">
              <a ui-sref="admin">Admin</a>
            </li>
            <li ng-click="logout()"><a>Logout</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="loginModal" class="modal" style="max-width:500px;">
  <div class="modal-content primary-black white-text">
    <h5 class="center">Sign In</h5>
    <div input-field>
      <label>Username</label>
      <input type="text" ng-model="loginUser.username">
    </div>
    <div input-field>
      <label>Password</label>
      <input type="password" ng-model="loginUser.password">
    </div>
  </div>
  <div class="modal-footer">

    <a class="waves-effect waves-green btn-flat secondary-blue white-text" ng-click="login()">Sign In</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
