<div class="row">
  <div class="col s12">
    <div class="card-panel white grey-text text-darken-3 valign-wrapper">
      <ng-md-icon
        id="searchIcon"
        ng-class="'search valign'"
        icon="{{ searchIcon }}"
        options="{{searchAnimationOptions}}"
        ng-click="toggleIcons()"
        style="fill: #666"
        size="28">
      </ng-md-icon>
      <div class="divider valign"></div>
      <div id="top-search" class="valign" style="width: 0">
        <input
          type="text"
          class="valign"
          ng-model="search"
          ng-model-options="{ debounce: 350 }">
      </div>
      <div class="profile-area valign right-align">
        <a class="dropdown-button" dropdown data-activates="dropdown1">
          <img ng-src="{{user.avatar || defaultAvatar}}" class="profile-image">
        </a>
        <ul id="dropdown1" class="dropdown-content">
          <div ng-if="user">
            <li><a>Profile</a></li>
            <li><a>Settings</a></li>
            <li><a ui-sref="admin">Admin</a></li>
            <li><a>Logout</a></li>
          </div>
          <li ng-if="!user"><a>Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
