main-article {
  .card {
    box-shadow: none !important;
    margin-bottom:0 !important;
  }

  .card-image {
    overflow: hidden;
    height: 34em;
    background-size: cover;
    background-position: center center;
  }

  .card-content {
    background-color: $primary-color-red;
    color: #f1f1f1;
    height: 6em;
    cursor: pointer;

    p {
      padding-bottom: 1.1em;
    }
  }

  .news-title {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 2em;
    text-align: right;
    color: #f1f1f1;
    width: 100%;

    a {
      margin-top: -1em;
      position: absolute;
      left: 2rem;
    }

    h6 {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h4 {
      margin-top:  0.3em;
      margin-bottom: 0;
      padding-bottom: 0;
      letter-spacing: 2px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .news-title-backdrop {
    position: absolute;
    bottom: -6em;
    left: -10%;

    width: 120%;
    height: 10em;

    background-color: $primary-color-red;

    @include transform(rotate(-7deg));
    box-shadow: 0px 0px 40px rgba(0,0,0,0.6);
  }

  .news-bottom-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 1em;

    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    background-color: $primary-color-red;
  }
}

small-article {
  .card-panel {
    position: relative;
  }

  .story-image {
    position: absolute;
    top:0;
    left:0;
    bottom: -1px;
    width: 23%;
    height: auto;
    background-position: center center;
    background-size: cover;

    &~ .content{
      padding-left: 15px;
      margin-left: 23%;
    }
  }

  .content {
    .info {
      font-size: 13px;
      line-height: 13px;
      color: $grey-color-light;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      a {
        color: $grey-color-light;
      }
    }

    .title {
      padding: 10px 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      h5 {
        margin: 0;
        font-weight: 600;
        display: inline-block;
      }

      .author {
        display: inline-block;
        opacity: 0.8;
      }
    }

    .text {
      max-height: 3em;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
    }
  }

  .viewed {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  @include respondTo(m) {
    .story-image {
      width: 30%;

      &~ .content {
        margin-left: 30%;
      }
    }
  }

  @include respondTo(s) {
    .story-image {
      display: none;

      &~ .content {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

}
