main-article {

  .card {
    box-shadow: none;
  }

  .card-image {
    overflow: hidden;
    height: 30em;
    background-size: cover;
    background-position: center center;
  }

  .card-content {
    background-color: $primary-color-red;
    color: #f1f1f1;
    height: 10em;
    cursor: pointer;

    p {
      padding-bottom: 1.1em;
    }
  }

  .news-title {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 2em;
    text-align: right;
    color: #fff;
    width: 100%;

    a {
      margin-top: -1em;
    }

    h6 {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    h4 {
      margin-top:  0.3em;
      margin-bottom: 0;
      padding-bottom: 0;
      letter-spacing: 2px;
    }
  }

  .news-title-backdrop {
    position: absolute;
    bottom: -6em;
    left: -10%;

    width: 120%;
    height: 10em;

    background-color: $primary-color-red;

    @include transform(rotate(-7deg));
    box-shadow: 0px 0px 40px rgba(0,0,0,0.6);
  }

  .news-bottom-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 1em;

    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    background-color: $primary-color-red;
  }

}
