@import "functions";
@import "colors";
@import "typography";
@import "grid";
@import "icons";
@import "logo";
@import "nav";
@import "cards";
@import "search";
@import "news";

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card {
  border-radius: 0;
}

.material-bounce {
  @include materialBounce();
}

@media only screen and (min-width: 993px){
  .container {
      width: 85%;
  }
}

@media only screen and (min-width: 601px){
  .container {
      width: 85%;
  }
}
